# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.ini
*.zip
*.db
*.log
*.txt
*.json
*.yaml
*.toml
*.js
*.wasm

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.pid
bin/

asset/asset.go

latest_log

cmd/upload/android
cmd/upload/upload
